---
layout: page
title: chat
date:
type:
---

<div class="container-lg">

    <div class="leftcolumn">
      {% include profile-card.html %}
    </div>
    {% assign items = site.articles | sort: 'date' | reverse %}
    {% assign posts_displayed = site.articles.size | at_most: 10 %}
    {% assign posts_total  = site.articles.size %}

<br>
      {% for item in items %}	

<br>

{% endfor %}

{% include license.html %}

</div>
</div>

<script src="https://minnit.chat/js/embed.js" defer></script><minnit-chat data-chatname="https://organizations.minnit.chat/946256074375047/Main?embed&nickname=" data-style="width:90%;height:500px;"></minnit-chat>
